.yunnex-button-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn-sub {
    	position: relative;
	    float: left;
		width: 60px;
		height: 34px;
		padding: 0;
		border: none;
		font-size: 13px;
		color: #666;
		background: #fff;
		text-align: center;
		cursor: pointer;

		&:focus {
			outline: none;
		}
		&:hover {
			background: #eee;
		}

		&.btn-sub-current {
			color: #fff;
			background: #1ab394;
		}
    }
}
.yunnex-button-group-border {
	.btn-sub {
		border: 1px solid #d7d7d7;
		border-radius: 2px;

		&:not(:first-child) {
		    border-left: none;
		    border-bottom-left-radius: 0;
		    border-top-left-radius: 0;
		}
		&:not(:last-child) {
		    border-bottom-right-radius: 0;
		    border-top-right-radius: 0;
		}
	}
}